{% extends "index1.html" %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href='{% static "css/registrodocentes.css" %}'>
    </head>
    <body>
        <div>
            <style>
                table{
                border-collapse: collapse;
                border-spacing: 0;
            }

                th, td{
                    padding: 10px 20px;
                    border: 1px solid #000;
                }
            </style>
            <h3>Result: </h3>
            <table>
                {% for i in tabla %}
                <thead>
                    {% for j in i %}
                        <th>
                            {{j}}
                        </th>
                    {% endfor %}
                </thead>
                {% endfor %}
            </table>
        </div>
        </body>
{% endblock %}