{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Analisis</title>
		<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
		<link rel="stylesheet" href='{%static "css/style.css" %}'>
		{% block head_content %}{% endblock %}

	</head>

<body>
	<input type="checkbox" id="nav-toggle">
	<div class="sidebar">
		<div class="sidebar-brand">
			<h1><span class="las la-tint" style="color: white;"></span><span>Analisis</span></h1>
		</div>

		<div class="sidebar-menu">
			<ul>
				<li>
					<a href="{% url 'punto_fijo' %}" class="{% if request.path == '/metodosabiertos/punto_fijo/' %}active{% endif %}"><span class="las la-chalkboard-teacher"></span>
					<span>Punto Fijo</span></a>
				</li>
				<li>
					<a href="{% url 'newton' %}" class="{% if request.path == '/metodosabiertos/newton/' %}active{% endif %}"><span class="las la-chalkboard-teacher"></span>
					<span>Newton</span></a>
				</li>
				<li>
					<a href="{% url 'raices' %}" class="{% if request.path == '/metodosabiertos/raices/' %}active{% endif %}"><span class="las la-school"></span>
					<span>Raices Multiples</span></a>
				</li>
				<li>
					<a href="{% url 'secante' %}" class="{% if request.path == '/metodosabiertos/secante/' %}active{% endif %}"><span class="las la-ban"></span>
					<span>Secante</span></a>
				</li>
				<li>
					<a href="{% url 'incremental' %}" class="{% if request.path == '/metodoscerrados/incremental/' %}active{% endif %}"><span class="las la-money-check"></span>
					<span>Incremental</span></a>
				</li>
				<li>
					<a href="{% url 'biseccion' %}" class="{% if request.path == '/metodoscerrados/biseccion/' %}active{% endif %}"><span class="las la-money-check"></span>
					<span>Biseccion</span></a>
				</li>
				<li>
					<a href="{% url 'regla_falsa' %}" class="{% if request.path == '/metodoscerrados/regla/' %}active{% endif %}"><span class="las la-money-check"></span>
					<span>Regla falsa</span></a>
				</li>
				<li>
					<a href="{% url 'crout' %}" class="{% if request.path == '/metodoscerrados/crout/' %}active{% endif %}"><span class="las la-money-check"></span>
					<span>Crout</span></a>
				</li>
				<li>
					<a href="{% url 'dolittle' %}" class="{% if request.path == '/metodoscerrados/doolittle/' %}active{% endif %}"><span class="las la-money-check"></span>
					<span>Crout</span></a>
				</li>
			</ul>
		</div>
	</div>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<div class="main-content">
		<header>
			<h2 id="dashboard">
				<label for="nav-toggle">
					<span class="las la-bars"></span>
				</label>
			</h2>
			<h2 id="titulo" style="position: 'center';">Metodos analisis numerico</h2>
		</header>

		<main>
			<div class="cards">
				<div class="card-single">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</main>
	</div>
</body>
</html>